<!-- Navbar -->
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-black border-bottom border-warning">
        <div class="container">
            <a class="navbar-brand fw-bold fs-3" href="/">
                <span class="text-warning">MOTO</span><span class="text-danger">GP</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" th:href="@{/}">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/pilotos}">Pilotos</a></li>
                    <li class="nav-item"><a class="nav-link text-warning" th:href="@{/equipos}">Equipos</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/carreras}">Carreras</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/clasificaciones}">Clasificaciones</a></li>
                </ul>
            </div>
        </div>
    </nav>